
.home {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-image: url('./asset/paul-earle-xJ2tjuUHD9M-unsplash.jpg');
    /* background-image: url(c:/Users/Alexn/Desktop/LearnWordPress/book-store-app/public/assets/paul-earle-xJ2tjuUHD9M-unsplash.jpg); */
    background-size: cover;
    border: 1px solid black;
    
  }
.home-text {
  flex: 1; 
  max-width: 50%; 
}

.home img {
  flex: 1; 
  max-width: 40%;
  height: auto; 
  object-fit: contain;
  margin-right: 90px; 
}
.products{
  padding-bottom: 40px;
}
.featured-books-header{
  text-align: center;

  border-bottom: 1px solid transparent;
  background: linear-gradient(to right, transparent, #000 50%, transparent) bottom;
  background-size: 50% 1px;
  background-repeat: no-repeat;
}

  /* .home h1 {
    font-size: 3em;
    margin-bottom: 20px;
  } */
  
  /* .home p {
    font-size: 1.5em;
    margin-bottom: 30px;
  }
  
  .featured-books {
    margin-top: 40px;
  }
  footer {
    margin-top: auto; 
  } */
