
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 0;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    font-size: smaller;
    width: 150px;
}


.card:hover {
    transform: translateY(-5px);
}

.card-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.card-content {
    padding: 10px 0;
}

.card-content h4 {
    margin: 10px 0;
    font-size: 1.2em;
}

.card-content p {
    color: #333;
    font-weight: bold;
    margin: 0;
}
