/* Swiper basic styles */
.swiper-container {
    width: 100%;
    padding: 20px 0;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .book-card {
    width: 200px;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    /* background-color: #f9f9f9; */
    padding: 16px;
    text-align: center;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.2s;
  }
  
  .book-card:hover {
    transform: translateY(-5px);
  }
  
  .book-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .book-info h4 {
    margin: 10px 0;
    font-size: 1.2em;
    color: black;
  }
  
  .book-info p {
    color: black;
    font-weight: bold;
    margin: 0;
  }
  