.body1 {
    /* border: 1px solid black; */
}

.book-detail1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    /* border: 1px solid #979797; */
    /* width: 80%;               */
    margin: 0 auto;            
    padding: 20px;
}

.book-info1 {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red;  */
    margin-right: 20px; 
    flex-grow: 1; 
}

.book-info1 h1 {
    font-size: 24px; 
    /* border: 1px solid blue;  */
}

.book-image1 {
    /* border: 1px solid green; */
    width: 400px; 
    margin-left: 20%;
    margin-right: 5%;
}

.book-detail1 img {
    width: 400px;
    height: auto; 
    max-width: 100%; 
}

.book-details-divider {
    margin: 40px 0;
    border-top: 1px solid #ccc; /* Thin line divider */
    width: 100%;
  }

.book-review1 {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .book-review1 h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #333;
  }
  
  .review-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .review-item {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
  }
  
  .review-header {
    font-weight: bold;
    color: #000;
    margin-bottom: 8px;
  }
  
  .review-date {
    font-size: 0.9em;
    color: #777;
    margin-left: 10px;
  }
  
  .review-comment {
    font-size: 1.1em;
    color: #555;
    line-height: 1.4;
  }
  
