.swiper-container {
  width: 100%;
  padding: 0 !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent !important; /* Ensure no background color */
}

.book-card1 {
  /* width: 20px;
  height: 150px;
  border-radius: 8px;
  background-color: transparent; 
  padding: 16px;
  text-align: center; */
  transition: transform 0.2s;
  margin: 0 !important;
  width: auto - 20px;             
  max-width: 600px;         
  padding: 20px;
  /* border: 1px solid black; */
  border-radius: 8px;
  text-align: left;         
  background-color: transparent; 
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.book-card:hover {
  transform: translateY(-3px);
}

.book-image {
  max-width: 50%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.book-info h4 {
  margin: 10px 0;
  font-size: 1.2em;
  color: black;
}

.book-info p {
  color: black;
  font-weight: bold;
  margin: 0;
}

a:link, a:visited, a:hover, a:active { 
  text-decoration: none; 
}
